@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap');
body {
    background-color: #f6f6f7;
    font-family: 'Raleway', sans-serif !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .watermark, .heading-input, .navbar-brand {
    font-family: 'Fredoka One', cursive;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    padding: 1.5rem 0;
    background-color: #5F5566;
}

footer p {
    margin-bottom: 0;
    color: #d8d8d8;
}

footer a {
    color: #d8d8d8;
}

footer a:hover {
    color: #b8b8b8;
}

.jumbotron {
    height: 50vh;
    border-bottom: 1px solid #dddae0;
}

.navbar {
    background-color: #5F5566;
    padding: 0.78rem 0;
}

.nav-link, .navbar-brand, .navbar-toggler-icon{
    color: rgb(216, 216, 216) !important;
}

.nav-link:hover, .nav-link:focus, .navbar-brand:hover, .navbar-brand:focus, .navbar-toggler-icon:hover, .navbar-toggler-icon:focus{
    color: #f1f1f1;
}

.about-us {
    padding: 3rem 0;
}

#present-icon {
    height: 15rem;
    width: auto;
    margin-bottom: 2rem;
}

.talking-chart {
    color: #FF6663 !important;
}

.chart-area {
    padding: 2rem;
}

.heading-input {
    width: fit-content;
    font-size: 1.5rem;
}

.card input {
    width: 100%;
    margin-bottom: 0.5rem;
}

/*
    Bootstrap customisations
*/

.btn-primary {
    background-color: #5F5566;
    border-color: #5F5566;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #453e4a;
    border-color: #453e4a;
}

.text-center input {
    text-align: center;
    word-wrap: break-word;
    size: '' !important;
    width: 100% !important;
    overflow: hidden;
}

.modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/*
    Utility functions
*/

.d-print-only {
    display: none !important;
}

.modal-button, .modal-button:hover, .modal-button:focus, .modal-button:active, .modal-button:focus-visible {
    background-color: #ffffff00;
    border-color: #ffffff00;
}

.card h4, .card p {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-button {
    padding: 0;
    background: transparent;
}

.card-img-top {
    padding: 1.5rem 0;
    width: 70%;
    height: auto;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + label img {
  cursor: pointer;
  width: 90%;
  margin: 5%;
  padding: 5%;
  outline: transparent;

}

/* CHECKED STYLES */
[type=radio]:checked + label img {
  outline: 1px solid #c2aecf;
  border-radius: 0.2rem;
  padding: 3%;
  transition: ease all 0.5s, ease padding 0.25s;
}

/*
LOGIC FOR PRINTING
*/

@media print {
    * {
        -webkit-transition: none !important;
        transition: none !important;
    }
    .col-sm {
        width: 25%;
    }
    .card {
        border-width: 0 !important;
        height: 18vh;
    }
    .card-body {
        overflow: visible;
        padding: 0rem 0.2rem;
    }
    html, body {
        padding: 0;
    }
    .no-print, .no-print * {
        display: none !important;
    }
    .d-print-only {
        display: block !important;
    }
    .app-body, .chart-area {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        margin: 0 auto !important;
        max-width: 100% !important;
    }
    .container {
        padding: 0 !important;
        width: 100% !important;
    }
    .card h5, .card p {
        margin: 1px !important;
        padding: 1px !important;
    }
    .card-img-top {
        padding: 0 !important;
        width: 80% !important;
        height: auto !important;
        max-width:100% !important;
        max-height:100% !important;
    }
    
}